body {
        margin: 0;
        font-family: Arial, sans-serif;
        background: #f2f2f2;
    }
    a{
        list-style: none;
        color: black;
        text-decoration: none;
    }
    header {
        background: #222;
        color: #fff;
        padding: 15px;
        text-align: center;
        font-size: 20px;
    }

    .container {
        max-width: 900px;
        margin: 20px auto;
        padding: 10px;
        text-align: center;
    }

    .games {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
        margin-top: 20px;
    }

    .game-btn {
        padding: 25px;
        background: #fff;
        border: 2px solid #ccc;
        border-radius: 8px;
        cursor: pointer;
        font-size: 18px;
        transition: 0.2s;
    }

    .game-btn:hover {
        background: #ddd;
    }

    footer {
        margin-top: 30px;
        padding: 15px;
        text-align: center;
        font-size: 14px;
        color: #555;
    }